@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2 style="margin-top:100px">@ViewBag.Title.</h2>
<br />
<p>Somos una página especializada en buscar los mejores precios en el mercado de los hoteles y apartamentos
    en la zona. Comparamos precios y filtramos aquellos que ofrecen lo mejor para su comodidad.</p>
